.BackOffice {
  width: 80%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #eee;
  -webkit-box-shadow: 0 2px 3px #ccc;
  box-shadow: 0 2px 3px #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px auto 5%;
  min-height: 90vh;
}
